# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/static
local_settings.py

# Angular
node_modules/
/dist
/tmp
/out-tsc
.angular/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
